html {
  background-color: var(--black);
  overflow-y: scroll;
  overflow-x: hidden;
  /* border: 0.3rem dashed darkred; */

  & > body {
    min-height: 100vh;
    overflow-x: clip;
    background-image: url("../src/bkgrd.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* border: 0.3rem dashed red; */

    & > main {
      padding: var(--padding);
      /* border: 0.3rem dashed tomato; */
    }
  }
}

u {
  text-decoration: underline;
}

small {
  font-size: 0.8rem;
}
