* {
  margin: 0;
  padding: 0;
  /* font-family: Dejavu Sans, Arial, Verdana, sans-serif; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #323232;
}

:root {
  background-color: aqua;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #323232;
}

body {
  width: 100%;
  height: 100%;
  /* background-size: cover/100%; */
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}

header {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

header > h1 {
  font-size: 4rem;
  letter-spacing: 3px;
  margin: 1rem 0 0 0;
  text-shadow: 3px 0px 4px rgb(50, 50, 50, 0.4);
}
header > h2 {
  font-size: 1.4rem;
  text-shadow: 3px 0px 4px rgb(50, 50, 50, 0.4);
}
header > svg {
  margin: 20px 0 0 0;
  transform: scaleX(-1);
  filter: drop-shadow(3px 0px 4px rgb(50, 50, 50, 0.4));
}

main {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

main > p {
  width: 100%;
  text-align: center;
}

footer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
footer > div {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  gap: 2rem;
}

footer > div > a > svg {
  color: #323232;
  filter: drop-shadow(3px 0px 4px rgb(50, 50, 50, 0.4));
}
footer > div > a > svg:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 700px) {
  header > h1 {
    font-size: 2rem;
    text-shadow: 3px 0px 4px rgb(50, 50, 50, 0.4);
  }
  header > h2 {
    font-size: 1rem;
  }
}
