:root {
  --primary: #336699;
  --secondary: #333333;
  --contrast: lightgray;
  --anthracite: #333333;
  --darkGrey: darkgrey;
  --mediumGrey: grey;
  --lightGrey: lightgrey;

  --padding: 1rem;
  --margin: 1rem;
  --gap: 1rem;
}
